body {
    margin: 0%;
}

.name {
    z-index: 3;
    margin: 0%;
    color: #ffffff;
    font-family: "Playfair Display", serif;
    font-size: 3.7rem;
    position: relative;
    bottom: 4.7rem;
    left: 10rem;
    letter-spacing: 0.3rem;
}

.about_me {
    z-index: 5;
    display: flex;
    justify-content: center;
}

.portrait_image {
    position: relative;
    z-index: 2; /* Places the image above the clipped background */
    max-width: 47rem;
    max-height: 47rem;
    object-fit: contain;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin-top: 2.7rem;
}

.portrait_info {
    display: flex;
    flex-direction: column;
    position: relative;
}

.colum_container {
    z-index: 4;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 40rem;
    height: 20rem;
    padding: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin-top: 9rem;
    border-radius: 0.1rem;
}

.about_me_text {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 2.1rem;
    margin-top: 18px;
    margin-bottom: 18px;
}

.paragraph_container {
    color: #575655;
    font-family: "Roboto", serif;
    line-height: 1.4rem;
}

.icon_container {
    display: flex;
}
.github_icon {
    height: 2rem;
    width: 2rem;
    margin-left: 30rem;
    margin-top: 2rem;
}

.linkedin_icon, .twitter_icon {
    height: 2rem;
    width: 2rem;
    margin-top: 2rem;
    margin-left: 1.5rem;
}

.clipped_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 155.9rem;
    height: 41rem;
    background-color: #0891b2; /* Clipped background color */
    clip-path: polygon(50% 0%, 100% 0, 100% 48%, 49% 74%, 0 100%, 0% 60%, 0 0);
    z-index: 1; /* Places it behind the image */
}

.my_work_text {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 2.1rem;
    margin: 0%;
    position: relative;
    bottom: 1rem;
}

.project {
    display: flex;
    flex-direction: column;
    width: 16.7rem;
    height: 17rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background-color: #9e1c1c;
    margin-left: 5rem;
    border-radius: 0.1rem;
}

.text {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 2.1rem;
    color: #ffffff;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.project_info {
    width: 16.7rem;
    height: 10rem;
    background-color: #ffffff;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 0.1rem;
}

.project_name_text {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0%;
    margin-top: 0.4rem;
    margin-left: 0.8rem;
}

.project_description_text {
    margin: 0%;
    margin-left: 0.8rem;
    margin-top: 0.8rem;
    font-family: "Roboto", serif;
    color: #575655;
    font-size: 1rem;
    padding-bottom: 2rem;

}

.text_and_icon_container {
    display: flex;
}

.github_icon_for_project {
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 4rem;
    margin-top: 0.5rem;
}

svg {
    margin-top: 0.5rem;
    margin-left: 0.8rem;
}

.row_container, .row_container_second {
    display: flex;
    justify-content: center;
    margin-bottom: 8rem;
}

.my_work_text_container {
    display: flex;
    justify-content: center;
    margin-right: 47rem;
}

.colum_container_for_my_works {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}