body {
    margin: 0%;
}

@media (min-width: 431px) and (max-width: 1280px) {
    .clipped_background {
        position: absolute;
        width: 100%;
        height: 30rem;
        background-color: #0891b2; /* Clipped background color */
        clip-path: polygon(50% 0%, 100% 0, 100% 48%, 49% 74%, 0 100%, 0% 60%, 0 0);
        z-index: 1;
    }

    .portrait_image {
        width: 22rem;
        height: 18rem;
        margin-left: 3rem;
        margin-top: 4.7rem;
        position: relative;
        z-index: 3;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    }

    .name {
        z-index: 3;
        position: relative;
        color: #ffffff;
        font-family: "Playfair Display", serif;
        bottom: 20rem;
        left: 23rem;
        font-size: 2.3rem;
        letter-spacing: 0.2rem;
        font-weight: 500;
        width: 17rem;
    }

    .colum_container {
        width: 20rem;
        height: 20rem;
        position: relative;
        left: 23rem;
        bottom: 21rem;
        z-index: 2;
        background-color: #ffffff;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        padding: 10px;
        padding-left: 2.5rem;
    }

    .about_me_text {
        font-family: "Playfair Display", serif;
        font-weight: 400;
        margin: 0%;
        margin-top: 1rem;
        margin-right: 2.2rem;
        font-size: 2.1rem;
        text-align: center;
    }

    .paragraph_container {
        font-size: 1rem;
        float: left;
        margin-top: 2rem;
    }

    .github_icon, 
    .linkedin_icon, 
    .twitter_icon {
       display: none;
    }

    .my_work_text_container {
        position: relative;
        bottom: 17rem;
        left: 3rem;
    }

    .my_work_text {
        font-weight: 500;
        font-size: 2.1rem;
        margin: 0%;
    }

    .project {
        position: relative;
        bottom: 12.3rem;
        right: 6rem;
        display: flex;
        flex-direction: column;
        width: 16rem;
        height: 11.3rem;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        background-color: #9e1c1c;
    }

    .project_info {
        position: relative;
        top: 1.5rem;
        width: 16rem;
        height: 8rem;
        background-color: #ffffff;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    }

    .text {
        font-family: "Playfair Display", serif;
        font-weight: 400;
        font-size: 2.1rem;
        color: #ffffff;
        text-align: center;
        margin: 2.5;
    }

    .project_name_text {
        font-family: "Playfair Display", serif;
        font-weight: 400;
        font-size: 1rem;
        margin: 0%;
        margin-top: 0.4rem;
        margin-left: 0.8rem;
    }

    .project_description_text {
        margin: 0%;
        margin-left: 0.8rem;
        margin-top: 0.8rem;
        font-family: "Roboto", serif;
        color: #575655;
        font-size: 0.9rem;
        padding-bottom: 2rem;
    
    }

    .colum_row_container {
        display: flex;
        flex-direction: column;
        gap: 9rem;
    }
    
    .text_and_icon_container {
        display: flex;
    }

    .colum_container_for_my_works {
        display: flex;
        gap: 4rem;
        justify-content: center;
    }

    .github_icon_for_project {
        height: 1.2rem;
        width: 1.2rem;
        margin-left: 5rem;
        margin-top: 0.5rem;
    }

    svg {
        margin-top: 0.5rem;
        margin-left: 0.8rem;
    }

    .portrait_image_for_contact_section {
        width: 23rem;
        height: 20rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .contact_section_github_icon, 
    .contact_section_linkedin_icon,
    .contact_section_twitter_icon {
        height: 2.2rem;
        width: 2.2rem;
    }

    .colum_container_contact_section {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
    }

    .contact_info_container {
        display: flex;
        gap: 3rem;
        justify-content: center;
    }

    .background_collor_contact {
        background-color: #0891b2;
    }

    .contact_section_text {
        font-family: "Playfair Display", serif;
        font-weight: 400;
        font-size: 2.1rem;
        color: #ffffff;
        margin: 0%;
        margin-top: 1rem;
        margin-bottom: 1.3rem;
    }

    .contact_section_paragraph {
        font-family: "Roboto", serif;
        color: #ffffff;
        font-size: 1rem;
        margin: 0%;
        margin-bottom: 1.7rem;
    }

    .text_and_svg_container {
        display: flex;
    }

    .phone_svg, .mail_svg {
        margin: 0%;
        position: relative;
        bottom: 0.9rem;
        margin-right: 0.5rem;
    }

    .paragraph_linebreaker {
        display: none;
    }

}

@media (max-width: 430px) {

    .about_me {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 161%;
    }

    .clipped_background {
        position: absolute;
        top: 0;
        left: 0;
        width: 161%;
        height: 26rem;
        background-color: #0891b2; /* Clipped background color */
        clip-path: polygon(50% 0%, 100% 0, 100% 48%, 49% 74%, 0 100%, 0% 60%, 0 0);
        z-index: 1;
    }

    .portrait_image {
        width: 25rem;
        height: 20rem;
        margin-top: 2rem;
        position: relative;
        z-index: 3;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    }

    .name {
        z-index: 3;
        position: relative;
        color: #ffffff;
        font-family: "Playfair Display", serif;
        font-size: 4rem;
        letter-spacing: 0.2rem;
        font-weight: 500;
        bottom: 4.8rem;
        left: 0.5rem;
        margin: 0%;
        width: 25rem;
    }

    .about_me_text {
        font-family: "Playfair Display", serif;
        font-weight: 500;
        margin: 0%;
        font-size: 2.5rem;
        position: relative;
        text-align: center;
        bottom: 2.5rem;
        width: 100%;
    }

    .paragraph_container {
        font-family: "Roboto", serif;
        color: #565656;
        font-size: 1.4rem;
        position: relative;
        bottom: 3rem;
        margin: 1rem;
        margin-left: 2rem;
    }

    .github_icon, 
    .linkedin_icon,
    .twitter_icon {
        height: 2rem;
        width: 2rem;
    }

    .icon_container {
        position: relative;
        bottom: 3rem;
        width: 50%;
        left: 10rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .my_work_text {
        font-weight: 500;
        font-size: 2.5rem;
        margin: 0%;
        position: relative;
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        width: 160%;
    }

    .project {
        right: 6rem;
        display: flex;
        flex-direction: column;
        width: 16rem;
        height: 11.3rem;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        background-color: #9e1c1c;
        margin-bottom: 9rem;
    }

    .project_info {
        position: relative;
        top: 1.5rem;
        width: 16rem;
        height: 8rem;
        background-color: #ffffff;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    }

    .github_icon_for_project {
        height: 1.2rem;
        width: 1.2rem;
        position: relative;
        top: 0.5rem;
        left: 3.7rem;
    }

    .text {
        font-family: "Playfair Display", serif;
        font-weight: 400;
        font-size: 2.1rem;
        color: #ffffff;
        text-align: center;
        margin: 2.5;
        margin-right: 1rem;
    }

    .project_name_text {
        font-family: "Playfair Display", serif;
        font-weight: 400;
        font-size: 1.3rem;
        margin: 0%;
        margin-top: 0.4rem;
        margin-left: 0.8rem;
    }

    .text_and_icon_container {
        display: flex;
    }

    .project_svg {
        position: relative;
        top: 0.5rem;
        left: 4.6rem;
    }

    .project_description_text {
        margin: 0%;
        margin-left: 0.8rem;
        margin-top: 0.8rem;
        font-family: "Roboto", serif;
        color: #575655;
        font-size: 1rem;
        padding-bottom: 2rem;
    
    }

    .colum_row_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 160%;
    }

    .background_collor_contact {
        background-color: #0891b2;
        width: 160%;
    }

    .colum_container_contact_section {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Vertical centering */
        gap: 1rem;
    }

    .contact_info_container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    .contact_section_text {
        font-family: "Playfair Display", serif;
        font-weight: 400;
        font-size: 2.1rem;
        color: #ffffff;
        margin: 0%;
        margin-top: 1rem;
        margin-bottom: 1.3rem;
        text-align: center;
    }

    .contact_section_paragraph {
        font-family: "Roboto", serif;
        color: #ffffff;
        font-size: 1.2rem;
        margin: 0%;
        margin-left: 1rem;
    }

    .text_and_svg_container {
        display: flex;
        margin-left: 1rem;
    }

    .contact_section_github_icon, 
    .contact_section_linkedin_icon,
    .contact_section_twitter_icon {
        height: 2.2rem;
        width: 2.2rem;
    }

    .contact_section_icon_container {
        display: flex;
        justify-content: center;
        gap: 1.2rem;
    }

    .portrait_image_for_contact_section {
        width: 100%;
        height: 30rem;
        padding: 0%;
        padding-top: 3rem;
    }


}


@media (min-width: 1281px) {
    .about_me {
        display: flex;
        justify-content: center;
    }
    .clipped_background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 41rem;
        background-color: #0891b2; /* Clipped background color */
        clip-path: polygon(50% 0%, 100% 0, 100% 48%, 49% 74%, 0 100%, 0% 60%, 0 0);
        z-index: 1; /* Places it behind the image */
    }

    .portrait_image {
        z-index: 3; /* Places the image above the clipped background */
        max-width: 43rem;
        max-height: 35rem;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
        margin-top: 2.7rem;
        position: relative;
    }

    .portrait_image_for_contact_section {
        max-width: 48rem;
        max-height: 30rem;
        object-fit: contain;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
    }

    .name {
        z-index: 4;
        margin: 0%;
        color: #ffffff;
        font-family: "Playfair Display", serif;
        font-size: 3.7rem;
        position: relative;
        letter-spacing: 0.3rem;
        width: 100%;
        height: 50%;
        bottom: 4.4rem;
        text-align: center;
    }

    .colum_container {
        z-index: 2;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        width: 30rem;
        height: 20rem;
        padding: 10px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        margin-top: 9rem;
        border-radius: 0.1rem;
        position: relative;
        bottom: 1rem;
    }

    .about_me_text {
        font-family: "Playfair Display", serif;
        font-weight: 400;
        font-size: 2.1rem;
        margin-top: 18px;
        margin-bottom: 18px;
    }

    .picture_name_colum_container{
        display: flex;
        flex-direction: column;
    }

    .icon_container {
        display: flex;
    }
    .github_icon {
        height: 1.7rem;
        width: 1.7rem;
        margin-left: 21rem;
        margin-top: 2.4rem;
    }
    
    .linkedin_icon, .twitter_icon {
        height: 1.7rem;
        width: 1.7rem;
        margin-top: 2.4rem;
        margin-left: 1.5rem;
    }

    .my_work_text_container {
        margin: 0%;
        margin-top: 7rem;
        display: flex;
        justify-content: flex-start;
    }

    .my_work_text {
        font-family: "Playfair Display", serif;
        font-weight: 400;
        font-size: 2.1rem;
        margin: 0%;
        position: relative;
        bottom: 1rem;
        left: 17%;
        margin: 0%;
    }

    .project {
        display: flex;
        flex-direction: column;
        width: 16.7rem;
        height: 17rem;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        background-color: #9e1c1c;
        margin-left: 5rem;
        border-radius: 0.1rem;
        margin-bottom: 8rem;
    }

    .text {
        font-family: "Playfair Display", serif;
        font-weight: 400;
        font-size: 2.1rem;
        color: #ffffff;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .project_info {
        width: 16.7rem;
        height: 10rem;
        background-color: #ffffff;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
        border-radius: 0.1rem;
    }

    .project_name_text {
        font-family: "Playfair Display", serif;
        font-weight: 400;
        font-size: 1.2rem;
        margin: 0%;
        margin-top: 0.4rem;
        margin-left: 0.8rem;
    }


    .project_description_text {
        margin: 0%;
        margin-left: 0.8rem;
        margin-top: 0.8rem;
        font-family: "Roboto", serif;
        color: #575655;
        font-size: 1rem;
        padding-bottom: 2rem;
    
    }

    .text_and_icon_container {
        display: flex;
    }

    .github_icon_for_project {
        height: 1.5rem;
        width: 1.5rem;
        margin-left: 4rem;
        margin-top: 0.5rem;
    }

    svg {
        margin-top: 0.5rem;
        margin-left: 0.8rem;
        width: 1.5rem;
        height: 1.5rem;
    }

    .colum_row_container {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    .colum_container_for_my_works {
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
    }

    .contact_section_github_icon, 
    .contact_section_linkedin_icon,
    .contact_section_twitter_icon {
        height: 2.2rem;
        width: 2.2rem;
    }

    .contact_info_container {
        display: flex;
        justify-content: center;
        gap: 7rem;
    }

    .background_collor_contact {
        background-color: #0891b2;
    }

    .portrait_image_for_contact_section {
        max-width: 48rem;
        max-height: 30rem;
        object-fit: contain;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .contact_section_text {
        font-family: "Playfair Display", serif;
        font-weight: 400;
        font-size: 2.1rem;
        color: #ffffff;
        margin: 0%;
        margin-top: 1rem;
        margin-bottom: 1.3rem;
    }

    .contact_section_paragraph {
        font-family: "Roboto", serif;
        color: #ffffff;
        font-size: 1rem;
        margin: 0%;
        margin-bottom: 1.7rem;
    }

    .text_and_svg_container {
        display: flex;
    }

    .colum_container_contact_section {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
    }

    .phone_svg, .mail_svg {
        margin: 0%;
        position: relative;
        bottom: 0.2rem;
        margin-right: 0.5rem;
    }

    .contact_section_icon_container {
        display: flex;
        gap: 2rem;
    }
}